AIRFLOW_FERNET_KEY= your_fernet_key  # python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
G_PATH=  gcloud_path
GCP_PROJECT_ID= gcp_project_name
